/extract_feature/RGB_for_extract_feature
/model_1/Lq_loss_iter_5000.caffemodel
/model_1/Lq_loss_iter_5000.solverstate
/models_pretrained_UCF
/model_2/Lq_loss_iter_5000.caffemodel
/model_2/Lq_loss_iter_5000.solverstate
/model_3/Lq_loss_iter_5000.caffemodel
/model_3/Lq_loss_iter_5000.solverstate
/model_4/Lq_loss_iter_5000.caffemodel
/model_4/Lq_loss_iter_5000.solverstate
/model_5/Lq_loss_iter_5000.caffemodel
/model_5/Lq_loss_iter_5000.solverstate
/RGB
/video
/ssbd

